blinker==1.4; python_version >= "3.6" and python_version < "4.0"
docutils==0.17; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
feedgenerator==1.9.1; python_version >= "3.6" and python_version < "4.0"
ghp-import==1.1.0
importlib-metadata==3.10.0; python_version < "3.8" and python_version >= "3.6"
invoke==1.5.0
jinja2==2.11.3; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
livereload==2.6.3
markdown==3.3.4; python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
pelican-related-posts==1.0.0; python_version >= "3.6" and python_version < "4.0"
pelican-series==2.0.0; python_version >= "3.6" and python_version < "4.0"
pelican==4.6.0; python_version >= "3.6" and python_version < "4.0"
pygments==2.8.1; python_version >= "3.6" and python_version < "4.0"
python-dateutil==2.8.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0"
pytz==2021.1; python_version >= "3.6" and python_version < "4.0"
six==1.15.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.3.0"
smartypants==2.0.1
tornado==6.1; python_version >= "3.5"
typing-extensions==3.7.4.3; python_version < "3.8" and python_version >= "3.6"
typogrify==2.0.7
unidecode==1.2.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.4.0"
zipp==3.4.1; python_version < "3.8" and python_version >= "3.6"
